
// Top navigation
nav.navbar.navbar-expand-lg.navbar-light.border-bottom
	.container-fluid
		//- button#sidebarToggle.btn.btn-primary Toggle Sidebar
		button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation', style='padding: 0.48rem')
			span.navbar-toggler-icon
		#navbarSupportedContent.collapse.navbar-collapse
			ul.navbar-nav.mt-2.mt-lg-0
				li.nav-item.active
					a.nav-link(href='#cycle') Cycle
				//- li.nav-item.active.dropdown
				//- 	a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-bs-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
				//- 		| Cards
				//- 	.dropdown-menu.dropdown-menu-start(aria-labelledby='navbarDropdown')
				//- 		a.dropdown-item(href='#!') Create
				//- 		a.dropdown-item(href='#!') Buff
				//- 		//- .dropdown-divider
				//- 		a.dropdown-item(href='#!') Tiers
				li.nav-item.active
					a.nav-link(href='#maps') Maps
				li.nav-item.active
				//- 	a.nav-link(href='#!') Store
				//- li.nav-item.active
				//- 	a.nav-link(href='#!') Rotations
