<?xml version="1.0" encoding="UTF-8"?>
<root>
	<config>
		<review_max_count>2</review_max_count>
		<review_trigger_threshold>3</review_trigger_threshold>
		<review_min_level>4</review_min_level>
		<review_feedback_link>http://support.synapsegames.com/?game=spellstone&amp;type=feedback</review_feedback_link>
		<review_popup>1</review_popup>
		<standalone_review_popup>0</standalone_review_popup>
		<asset_bundle_cache_delay>1209600</asset_bundle_cache_delay><!-- 1209600 = 2 weeks -->
		<max_guild_members>50</max_guild_members>
		<max_auto_battles>100</max_auto_battles>
		<iap_end_time>0</iap_end_time>
		<optimized_achievements>0</optimized_achievements>


		<arena_autoplay_enabled>1</arena_autoplay_enabled><!-- 1 -->
		<!-- Challenges / Clashes / Dungeons -->
		<auto_battles_enabled>1</auto_battles_enabled><!-- 0 -->

		<dev_event_time_offset>14400</dev_event_time_offset>

		<!-- 1440  = +1  Days --><!-- 15840 = +11 Days --><!-- 30240 = +21 Days --><!-- 44640 = +31 Days --><!-- 59040 = +41 Days -->
		<!-- 2880  = +2  Days --><!-- 17280 = +12 Days --><!-- 31680 = +22 Days --><!-- 46080 = +32 Days --><!-- 60480 = +42 Days -->
		<!-- 4320  = +3  Days --><!-- 18720 = +13 Days --><!-- 33120 = +23 Days --><!-- 47520 = +33 Days --><!-- 61920 = +43 Days -->
		<!-- 5760  = +4  Days --><!-- 20160 = +14 Days --><!-- 34560 = +24 Days --><!-- 48960 = +34 Days --><!-- 63360 = +44 Days -->
		<!-- 7158  = +5  Days --><!-- 21600 = +15 Days --><!-- 36000 = +25 Days --><!-- 50400 = +35 Days --><!-- 64800 = +45 Days -->
		<!-- 8640  = +6  Days --><!-- 23040 = +16 Days --><!-- 37440 = +26 Days --><!-- 51840 = +36 Days --><!-- 66240 = +46 Days -->
		<!-- 10080 = +7  Days --><!-- 24480 = +17 Days --><!-- 38880 = +27 Days --><!-- 53280 = +37 Days --><!-- 67680 = +47 Days -->
		<!-- 11520 = +8  Days --><!-- 25920 = +18 Days --><!-- 40320 = +28 Days --><!-- 54720 = +38 Days --><!-- 69120 = +48 Days -->
		<!-- 12960 = +9  Days --><!-- 27360 = +19 Days --><!-- 41760 = +29 Days --><!-- 56160 = +39 Days --><!-- 70560 = +49 Days -->
		<!-- 14400 = +10 Days --><!-- 28800 = +20 Days --><!-- 43200 = +30 Days --><!-- 57600 = +40 Days --><!-- 71580 = +50 Days -->

		<!-- Debug 1 -->

		<!-- Loading Screen Overwrite
		<loading_prefab>EventMap_004</loading_prefab>
		<loading_bundle_id>29</loading_bundle_id> -->

		<!-- <refund_card> Allows card to show up in buyback tool in admin panel -->
		<!-- <buyback_card id="1234" endtime="unixtimestamp" /> -->
		
		<!-- +14 days from end time of Steel's Edge V2.0 event_timeline_n3rjc.xml -->
		<!-- Exclude Champions, commons and rare from buyback discount -->
		<!-- +14 from start of bge e106 Thu Aug 31 2023 17:00:00 GMT+0000 -->

	<buyback_card id="1335" endtime="1727370000"/> <!-- Firecracker -->
	<buyback_card id="11335" endtime="1727370000"/> <!-- Firesnapper -->
	<buyback_card id="21335" endtime="1727370000"/> <!-- Firecrackler -->

	<buyback_card id="1628" endtime="1727370000"/> <!-- Garganotos -->
	<buyback_card id="11628" endtime="1727370000"/> <!-- Mega Garganotos -->
	<buyback_card id="21628" endtime="1727370000"/> <!-- King Garganotos -->

	<buyback_card id="2061" endtime="1727370000"/> <!-- Reks, the Forlorn -->
	<buyback_card id="12061" endtime="1727370000"/> <!-- Reks, the Fallen -->
	<buyback_card id="22061" endtime="1727370000"/> <!-- Reks, the Dragonslain -->

	<buyback_card id="2063" endtime="1727370000"/> <!-- Hob Fletcher -->
	<buyback_card id="12063" endtime="1727370000"/> <!-- Feral Fletcher -->
	<buyback_card id="22063" endtime="1727370000"/> <!-- Savage Fletcher -->

	<buyback_card id="2065" endtime="1727370000"/> <!-- Pinpin, Dragon Handler -->
	<buyback_card id="12065" endtime="1727370000"/> <!-- Pinpin, Dragon Confident -->
	<buyback_card id="22065" endtime="1727370000"/> <!-- Pinpin and Broodus -->

	<buyback_card id="2195" endtime="1727370000"/> <!-- Stinky Rogue -->
	<buyback_card id="12195" endtime="1727370000"/> <!-- Rotten Rogue -->
	<buyback_card id="22195" endtime="1727370000"/> <!-- Funky Rogue -->

	<buyback_card id="2244" endtime="1727370000"/> <!-- Fizbo -->
	<buyback_card id="12244" endtime="1727370000"/> <!-- Fizbo, the Jester -->
	<buyback_card id="22244" endtime="1727370000"/> <!-- Fizbo, the Jester Maker -->

	<buyback_card id="5090" endtime="1727370000"/> <!-- Reks' Faithful -->
	<buyback_card id="15090" endtime="1727370000"/> <!-- Reks' Devoted -->
	<buyback_card id="25090" endtime="1727370000"/> <!-- Reks' Diviner -->

	<buyback_card id="5092" endtime="1727370000"/> <!-- Tundra Reaver -->
	<buyback_card id="15092" endtime="1727370000"/> <!-- Tundra Berserker -->
	<buyback_card id="25092" endtime="1727370000"/> <!-- Tundra Battlemaster -->

	<buyback_card id="5144" endtime="1727370000"/> <!-- Wee Sparkcaster -->
	<buyback_card id="15144" endtime="1727370000"/> <!-- Lil' Sparkcaster -->
	<buyback_card id="25144" endtime="1727370000"/> <!-- Sparkcaster -->

	<buyback_card id="5148" endtime="1727370000"/> <!-- Gribmalda of Wings -->
	<buyback_card id="15148" endtime="1727370000"/> <!-- Gribmalda of Soaring -->
	<buyback_card id="25148" endtime="1727370000"/> <!-- Gribmalda of the Sky -->

	<buyback_card id="5190" endtime="1727370000"/> <!-- Goblin Rise Cadet -->
	<buyback_card id="15190" endtime="1727370000"/> <!-- Goblin Rise Pilot -->
	<buyback_card id="25190" endtime="1727370000"/> <!-- Goblin Rise Ace -->

	<buyback_card id="5191" endtime="1727370000"/> <!-- Bubble Gumm -->
	<buyback_card id="15191" endtime="1727370000"/> <!-- Dubel Bubble -->
	<buyback_card id="25191" endtime="1727370000"/> <!-- Dubel-Flint Gumm -->

	<buyback_card id="5192" endtime="1727370000"/> <!-- Dancer Hula -->
	<buyback_card id="15192" endtime="1727370000"/> <!-- Performer Hula -->
	<buyback_card id="25192" endtime="1727370000"/> <!-- Prima Donna Hula -->

	<buyback_card id="5209" endtime="1727370000"/> <!-- Fowlmaster -->
	<buyback_card id="15209" endtime="1727370000"/> <!-- Flying Fowlmaster -->
	<buyback_card id="25209" endtime="1727370000"/> <!-- Flocking Fowlmaster -->

	<buyback_card id="5228" endtime="1727370000"/> <!-- Frostclaw Spearhunter -->
	<buyback_card id="15228" endtime="1727370000"/> <!-- Frostclaw Pikehunter -->
	<buyback_card id="25228" endtime="1727370000"/> <!-- Frostclaw Lancehunter -->

	<buyback_card id="5251" endtime="1727370000"/> <!-- Spellbuster Witch -->
	<buyback_card id="15251" endtime="1727370000"/> <!-- Spellbuster Mage -->
	<buyback_card id="25251" endtime="1727370000"/> <!-- Spellbuster Magus -->

	<buyback_card id="5280" endtime="1727370000"/> <!-- Portal Witch -->
	<buyback_card id="15280" endtime="1727370000"/> <!-- Portal Mage -->
	<buyback_card id="25280" endtime="1727370000"/> <!-- Portal Warlock -->

	<buyback_card id="5281" endtime="1727370000"/> <!-- Ramming Unit -->
	<buyback_card id="15281" endtime="1727370000"/> <!-- Ramming Army -->
	<buyback_card id="25281" endtime="1727370000"/> <!-- Ramming Legion -->

	<buyback_card id="5287" endtime="1727370000"/> <!-- Baby Delivery Stork -->
	<buyback_card id="15287" endtime="1727370000"/> <!-- Baby Mailing Stork -->
	<buyback_card id="25287" endtime="1727370000"/> <!-- Baby Mayhem Stork -->

	<buyback_card id="5292" endtime="1727370000"/> <!-- Impudent Poachers -->
	<buyback_card id="15292" endtime="1727370000"/> <!-- Impudent Burglars -->
	<buyback_card id="25292" endtime="1727370000"/> <!-- Impudent Raiders -->

	<buyback_card id="6049" endtime="1727370000"/> <!-- Goblin Explosioneer -->
	<buyback_card id="16049" endtime="1727370000"/> <!-- Crazed Explosioneer -->
	<buyback_card id="26049" endtime="1727370000"/> <!-- Unhinged Explosioneer -->

	<buyback_card id="6089" endtime="1727370000"/> <!-- Fire Belcher -->
	<buyback_card id="16089" endtime="1727370000"/> <!-- Flame Belcher -->
	<buyback_card id="26089" endtime="1727370000"/> <!-- Hotheaded Belcher -->

	<buyback_card id="6091" endtime="1727370000"/> <!-- Bone Sculptor -->
	<buyback_card id="16091" endtime="1727370000"/> <!-- Bone Crafter -->
	<buyback_card id="26091" endtime="1727370000"/> <!-- Bone Contortionist -->

	<buyback_card id="6093" endtime="1727370000"/> <!-- Noz Onehand -->
	<buyback_card id="16093" endtime="1727370000"/> <!-- Noz Hookhand -->
	<buyback_card id="26093" endtime="1727370000"/> <!-- Noz Steelhand -->

	<buyback_card id="6094" endtime="1727370000"/> <!-- Gob Launcher -->
	<buyback_card id="16094" endtime="1727370000"/> <!-- Gob Chucker -->
	<buyback_card id="26094" endtime="1727370000"/> <!-- Goballista -->

	<buyback_card id="6142" endtime="1727370000"/> <!-- Ba Dim Boom -->
	<buyback_card id="16142" endtime="1727370000"/> <!-- Ba Dom Boom -->
	<buyback_card id="26142" endtime="1727370000"/> <!-- Ba Dum Boom -->

	<buyback_card id="6145" endtime="1727370000"/> <!-- Goblin Butcher -->
	<buyback_card id="16145" endtime="1727370000"/> <!-- Goblin Slaughterer -->
	<buyback_card id="26145" endtime="1727370000"/> <!-- Goblin Cleaver -->

	<buyback_card id="6147" endtime="1727370000"/> <!-- Sandspirit Whisperer -->
	<buyback_card id="16147" endtime="1727370000"/> <!-- Sandspirit Shaman -->
	<buyback_card id="26147" endtime="1727370000"/> <!-- Sandspirit Breaker -->

	<buyback_card id="6166" endtime="1727370000"/> <!-- Corpsedancer -->
	<buyback_card id="16166" endtime="1727370000"/> <!-- Battle Corpsedancer -->
	<buyback_card id="26166" endtime="1727370000"/> <!-- Warfield Corpsedancer -->

	<buyback_card id="6176" endtime="1727370000"/> <!-- Searsteel Soldier -->
	<buyback_card id="16176" endtime="1727370000"/> <!-- Searsteel Charger -->
	<buyback_card id="26176" endtime="1727370000"/> <!-- Searsteel Commander -->

	<buyback_card id="6187" endtime="1727370000"/> <!-- Xerkahn's Warship -->
	<buyback_card id="16187" endtime="1727370000"/> <!-- Xerkahn's Battleship -->
	<buyback_card id="26187" endtime="1727370000"/> <!-- Xerkahn's Flagship -->

	<buyback_card id="6188" endtime="1727370000"/> <!-- Dune Thief -->
	<buyback_card id="16188" endtime="1727370000"/> <!-- Dune Runner -->
	<buyback_card id="26188" endtime="1727370000"/> <!-- Dune Bandit -->

	<buyback_card id="6217" endtime="1727370000"/> <!-- Dark Mage Tagati -->
	<buyback_card id="16217" endtime="1727370000"/> <!-- Dark Whisper Tagati -->
	<buyback_card id="26217" endtime="1727370000"/> <!-- Dark Sage Tagati -->

	<buyback_card id="6218" endtime="1727370000"/> <!-- Gliding Firemage -->
	<buyback_card id="16218" endtime="1727370000"/> <!-- Gliding Firecrafter -->
	<buyback_card id="26218" endtime="1727370000"/> <!-- Gliding Firemaster -->

	<buyback_card id="6219" endtime="1727370000"/> <!-- Cinderclaw -->
	<buyback_card id="16219" endtime="1727370000"/> <!-- Cinderclaw Soldier -->
	<buyback_card id="26219" endtime="1727370000"/> <!-- Cinderclaw Berserker -->

	<buyback_card id="6221" endtime="1727370000"/> <!-- Desert Rider -->
	<buyback_card id="16221" endtime="1727370000"/> <!-- Desert Roamer -->
	<buyback_card id="26221" endtime="1727370000"/> <!-- Desert Blastabond -->

	<buyback_card id="6252" endtime="1727370000"/> <!-- Hexer Rogue -->
	<buyback_card id="16252" endtime="1727370000"/> <!-- Hexer Scout -->
	<buyback_card id="26252" endtime="1727370000"/> <!-- Hexer Commando -->

	<buyback_card id="6253" endtime="1727370000"/> <!-- Tricky Boomsquad -->
	<buyback_card id="16253" endtime="1727370000"/> <!-- Elusive Boomsquad -->
	<buyback_card id="26253" endtime="1727370000"/> <!-- Tactical Boomsquad -->

	<buyback_card id="6269" endtime="1727370000"/> <!-- Drogoblin Warrior -->
	<buyback_card id="16269" endtime="1727370000"/> <!-- Drogoblin Barbarian -->
	<buyback_card id="26269" endtime="1727370000"/> <!-- Drogoblin Berserker -->

	<buyback_card id="6280" endtime="1727370000"/> <!-- Thief Mechabase -->
	<buyback_card id="16280" endtime="1727370000"/> <!-- Criminal Mechabase -->
	<buyback_card id="26280" endtime="1727370000"/> <!-- Bandit Mechabase -->

	<buyback_card id="6281" endtime="1727370000"/> <!-- Boggartman -->
	<buyback_card id="16281" endtime="1727370000"/> <!-- Bogleman -->
	<buyback_card id="26281" endtime="1727370000"/> <!-- Boogeyman -->

	<buyback_card id="6282" endtime="1727370000"/> <!-- Cauldron Troop -->
	<buyback_card id="16282" endtime="1727370000"/> <!-- Cauldron Platoon -->
	<buyback_card id="26282" endtime="1727370000"/> <!-- Cauldron Squad -->

	<buyback_card id="7001" endtime="1727370000"/> <!-- Hekaton -->
	<buyback_card id="17001" endtime="1727370000"/> <!-- Hekaton, Son of Earth -->
	<buyback_card id="27001" endtime="1727370000"/> <!-- Hekaton, Sky Scraper -->

	<buyback_card id="7019" endtime="1727370000"/> <!-- Lady of the Swamp -->
	<buyback_card id="17019" endtime="1727370000"/> <!-- Duchess of the Swamp -->
	<buyback_card id="27019" endtime="1727370000"/> <!-- Queen of the Swamp -->

	<buyback_card id="7026" endtime="1727370000"/> <!-- Frostjaw -->
	<buyback_card id="17026" endtime="1727370000"/> <!-- Frostjaw Giant -->
	<buyback_card id="27026" endtime="1727370000"/> <!-- Hulking Frostjaw -->

	<buyback_card id="7090" endtime="1727370000"/> <!-- Prospector -->
	<buyback_card id="17090" endtime="1727370000"/> <!-- Unrelenting Prospector -->
	<buyback_card id="27090" endtime="1727370000"/> <!-- Insistent Prospector -->

	<buyback_card id="7146" endtime="1727370000"/> <!-- Goblin Brigand -->
	<buyback_card id="17146" endtime="1727370000"/> <!-- Reks' Brigand -->
	<buyback_card id="27146" endtime="1727370000"/> <!-- Xerkahn's Brigand -->

	<buyback_card id="7147" endtime="1727370000"/> <!-- Kraag -->
	<buyback_card id="17147" endtime="1727370000"/> <!-- Jolt Kraag -->
	<buyback_card id="27147" endtime="1727370000"/> <!-- Volt Kraag -->

	<buyback_card id="7148" endtime="1727370000"/> <!-- Pointystick Pezack -->
	<buyback_card id="17148" endtime="1727370000"/> <!-- Poisonstick Pezack -->
	<buyback_card id="27148" endtime="1727370000"/> <!-- Venomstick Pezack -->

	<buyback_card id="7188" endtime="1727370000"/> <!-- Honeycomb Thrower -->
	<buyback_card id="17188" endtime="1727370000"/> <!-- Honeycomb Chucker -->
	<buyback_card id="27188" endtime="1727370000"/> <!-- Honeycomb Lobber -->

	<buyback_card id="7190" endtime="1727370000"/> <!-- Drix and Acidfire -->
	<buyback_card id="17190" endtime="1727370000"/> <!-- Drix and Acidflare -->
	<buyback_card id="27190" endtime="1727370000"/> <!-- Drix and Acidflames -->

	<buyback_card id="7217" endtime="1727370000"/> <!-- Amrita, Drake Healer -->
	<buyback_card id="17217" endtime="1727370000"/> <!-- Amrita, Drake Shaman -->
	<buyback_card id="27217" endtime="1727370000"/> <!-- Amrita, Drake Oracle -->

	<buyback_card id="7226" endtime="1727370000"/> <!-- Froglin -->
	<buyback_card id="17226" endtime="1727370000"/> <!-- Froblin -->
	<buyback_card id="27226" endtime="1727370000"/> <!-- Frogblin -->

	<buyback_card id="7230" endtime="1727370000"/> <!-- Fungobble -->
	<buyback_card id="17230" endtime="1727370000"/> <!-- Fungobblan -->
	<buyback_card id="27230" endtime="1727370000"/> <!-- Fungobblor -->

	<buyback_card id="7237" endtime="1727370000"/> <!-- Bogbringer -->
	<buyback_card id="17237" endtime="1727370000"/> <!-- Fogbringer -->
	<buyback_card id="27237" endtime="1727370000"/> <!-- Smogbringer -->

	<buyback_card id="7255" endtime="1727370000"/> <!-- Hooflin Ranger -->
	<buyback_card id="17255" endtime="1727370000"/> <!-- Hooflin Tracker -->
	<buyback_card id="27255" endtime="1727370000"/> <!-- Hooflin Warden -->

	<buyback_card id="7256" endtime="1727370000"/> <!-- Soldier of Fortune -->
	<buyback_card id="17256" endtime="1727370000"/> <!-- Seeker of Fortune -->
	<buyback_card id="27256" endtime="1727370000"/> <!-- Breaker of Fortune -->

	<buyback_card id="7282" endtime="1727370000"/> <!-- Egg Keeper -->
	<buyback_card id="17282" endtime="1727370000"/> <!-- Creature Keeper -->
	<buyback_card id="27282" endtime="1727370000"/> <!-- Monster Keeper -->

	<buyback_card id="7294" endtime="1727370000"/> <!-- Brute Hobgoblin -->
	<buyback_card id="17294" endtime="1727370000"/> <!-- Savage Hobgoblin -->
	<buyback_card id="27294" endtime="1727370000"/> <!-- Terrifying Hobgoblin -->

		<realtime_pvp_leaderboard_tier>13</realtime_pvp_leaderboard_tier><!-- 13 -->
		<realtime_pvp_leaderboard_count>100</realtime_pvp_leaderboard_count><!-- 100 -->
		<realtime_pvp_leaderboard_minimum>1950</realtime_pvp_leaderboard_minimum>

		<realtime_pvp_timeout>30</realtime_pvp_timeout>
		<realtime_pvp_request_timeout>300</realtime_pvp_request_timeout>
		<realtime_pvp_poll_time>3</realtime_pvp_poll_time>
		<daily_login_bonus_start_day>17004</daily_login_bonus_start_day>
		<buyback_cap>60</buyback_cap><!-- Maximum num cards in buyback -->

		<force_sound_binary>0</force_sound_binary>
	</config>

	<cardFile id="0" file="cards_config.xml"/>
	<cardFile id="1" file="cards_heroes.xml"/>
	<cardFile id="2" file="cards_premium_aether.xml"/>
	<cardFile id="3" file="cards_premium_chaos.xml"/>
	<cardFile id="4" file="cards_premium_wyld.xml"/>
	<cardFile id="5" file="cards_reward.xml"/>
	<cardFile id="6" file="cards_special.xml"/>
	<cardFile id="7" file="cards_standard.xml"/>
	<cardFile id="8" file="cards_story.xml"/>
	<!-- ID 9 used for cards_dev -->
	<cardFile id="10" file="cards_shard.xml"/>
</root>