<?xml version="1.0" encoding="UTF-8"?>
<root>
	<config>
		<review_max_count>2</review_max_count>
		<review_trigger_threshold>3</review_trigger_threshold>
		<review_min_level>4</review_min_level>
		<review_feedback_link>http://support.synapsegames.com/?game=spellstone&amp;type=feedback</review_feedback_link>
		<review_popup>1</review_popup>
		<standalone_review_popup>0</standalone_review_popup>
		<asset_bundle_cache_delay>1209600</asset_bundle_cache_delay><!-- 1209600 = 2 weeks -->
		<max_guild_members>50</max_guild_members>
		<max_auto_battles>100</max_auto_battles>
		<iap_end_time>0</iap_end_time>
		<optimized_achievements>0</optimized_achievements>


		<arena_autoplay_enabled>1</arena_autoplay_enabled><!-- 1 -->
		<!-- Challenges / Clashes / Dungeons -->
		<auto_battles_enabled>1</auto_battles_enabled><!-- 0 -->

		<dev_event_time_offset>14400</dev_event_time_offset>

		<!-- 1440  = +1  Days --><!-- 15840 = +11 Days --><!-- 30240 = +21 Days --><!-- 44640 = +31 Days --><!-- 59040 = +41 Days -->
		<!-- 2880  = +2  Days --><!-- 17280 = +12 Days --><!-- 31680 = +22 Days --><!-- 46080 = +32 Days --><!-- 60480 = +42 Days -->
		<!-- 4320  = +3  Days --><!-- 18720 = +13 Days --><!-- 33120 = +23 Days --><!-- 47520 = +33 Days --><!-- 61920 = +43 Days -->
		<!-- 5760  = +4  Days --><!-- 20160 = +14 Days --><!-- 34560 = +24 Days --><!-- 48960 = +34 Days --><!-- 63360 = +44 Days -->
		<!-- 7158  = +5  Days --><!-- 21600 = +15 Days --><!-- 36000 = +25 Days --><!-- 50400 = +35 Days --><!-- 64800 = +45 Days -->
		<!-- 8640  = +6  Days --><!-- 23040 = +16 Days --><!-- 37440 = +26 Days --><!-- 51840 = +36 Days --><!-- 66240 = +46 Days -->
		<!-- 10080 = +7  Days --><!-- 24480 = +17 Days --><!-- 38880 = +27 Days --><!-- 53280 = +37 Days --><!-- 67680 = +47 Days -->
		<!-- 11520 = +8  Days --><!-- 25920 = +18 Days --><!-- 40320 = +28 Days --><!-- 54720 = +38 Days --><!-- 69120 = +48 Days -->
		<!-- 12960 = +9  Days --><!-- 27360 = +19 Days --><!-- 41760 = +29 Days --><!-- 56160 = +39 Days --><!-- 70560 = +49 Days -->
		<!-- 14400 = +10 Days --><!-- 28800 = +20 Days --><!-- 43200 = +30 Days --><!-- 57600 = +40 Days --><!-- 71580 = +50 Days -->

		<!-- Debug 1 -->

		<!-- Loading Screen Overwrite
		<loading_prefab>EventMap_004</loading_prefab>
		<loading_bundle_id>29</loading_bundle_id> -->

		<!-- <refund_card> Allows card to show up in buyback tool in admin panel -->
		<!-- <buyback_card id="1234" endtime="unixtimestamp" /> -->
		
		<!-- +14 days from end time of Steel's Edge V2.0 event_timeline_n3rjc.xml -->
		<!-- Exclude Champions, commons and rare from buyback discount -->
		<!-- +14 from start of bge e106 Thu Aug 31 2023 17:00:00 GMT+0000 -->

	<buyback_card id="1042" endtime="1724950800"/> <!-- Archgeneral -->
	<buyback_card id="11042" endtime="1724950800"/> <!-- High Archgeneral -->
	<buyback_card id="21042" endtime="1724950800"/> <!-- Grand Archgeneral -->

	<buyback_card id="1341" endtime="1724950800"/> <!-- Blood Demon -->
	<buyback_card id="11341" endtime="1724950800"/> <!-- Hemorrhage Demon -->
	<buyback_card id="21341" endtime="1724950800"/> <!-- Sanguine Demon -->

	<buyback_card id="2027" endtime="1724950800"/> <!-- Halo Mage -->
	<buyback_card id="12027" endtime="1724950800"/> <!-- Halo Wizard -->
	<buyback_card id="22027" endtime="1724950800"/> <!-- Halomancer -->

	<buyback_card id="2028" endtime="1724950800"/> <!-- Infinity -->
	<buyback_card id="12028" endtime="1724950800"/> <!-- Shifting Infinity -->
	<buyback_card id="22028" endtime="1724950800"/> <!-- Diverging Infinity -->

	<buyback_card id="2029" endtime="1724950800"/> <!-- Sly Critters -->
	<buyback_card id="12029" endtime="1724950800"/> <!-- Cunning Critters -->
	<buyback_card id="22029" endtime="1724950800"/> <!-- Devilish Critters -->

	<buyback_card id="2055" endtime="1724950800"/> <!-- Wrath -->
	<buyback_card id="12055" endtime="1724950800"/> <!-- Wrath, Fury Incarnate -->
	<buyback_card id="22055" endtime="1724950800"/> <!-- Wrath, Worldrender -->

	<buyback_card id="2086" endtime="1724950800"/> <!-- Rimelight Crusader -->
	<buyback_card id="12086" endtime="1724950800"/> <!-- Rimelight Raider -->
	<buyback_card id="22086" endtime="1724950800"/> <!-- Rimelight Corsair -->

	<buyback_card id="2146" endtime="1724950800"/> <!-- Noble Truestrike -->
	<buyback_card id="12146" endtime="1724950800"/> <!-- Virtuous Truestrike -->
	<buyback_card id="22146" endtime="1724950800"/> <!-- Holy Truestrike -->

	<buyback_card id="2203" endtime="1724950800"/> <!-- Absent Clouds -->
	<buyback_card id="12203" endtime="1724950800"/> <!-- Absent Formation -->
	<buyback_card id="22203" endtime="1724950800"/> <!-- Absent Revelation -->

	<buyback_card id="2204" endtime="1724950800"/> <!-- Halo Slave -->
	<buyback_card id="12204" endtime="1724950800"/> <!-- Halo Infidel -->
	<buyback_card id="22204" endtime="1724950800"/> <!-- Halo Breaker -->

	<buyback_card id="2205" endtime="1724950800"/> <!-- Herald of Judgement -->
	<buyback_card id="12205" endtime="1724950800"/> <!-- Herald of Destruction -->
	<buyback_card id="22205" endtime="1724950800"/> <!-- Herald of Apocalypse -->

	<buyback_card id="5039" endtime="1724950800"/> <!-- Ethereal Knight -->
	<buyback_card id="15039" endtime="1724950800"/> <!-- Ethereal Paladin -->
	<buyback_card id="25039" endtime="1724950800"/> <!-- Ethereal Champion -->

	<buyback_card id="5040" endtime="1724950800"/> <!-- Winged Trumpeter -->
	<buyback_card id="15040" endtime="1724950800"/> <!-- Celestial Trumpeter -->
	<buyback_card id="25040" endtime="1724950800"/> <!-- Divine Trumpeter -->

	<buyback_card id="5043" endtime="1724950800"/> <!-- Empyrean -->
	<buyback_card id="15043" endtime="1724950800"/> <!-- Empyrean Flame -->
	<buyback_card id="25043" endtime="1724950800"/> <!-- Empyrean Fire -->

	<buyback_card id="5075" endtime="1724950800"/> <!-- Arith -->
	<buyback_card id="15075" endtime="1724950800"/> <!-- Arith the Justicar -->
	<buyback_card id="25075" endtime="1724950800"/> <!-- Arith, Grand Justicar -->

	<buyback_card id="5077" endtime="1724950800"/> <!-- Everspark Ace -->
	<buyback_card id="15077" endtime="1724950800"/> <!-- Everbolt Ace -->
	<buyback_card id="25077" endtime="1724950800"/> <!-- Everstorm Ace -->

	<buyback_card id="5116" endtime="1724950800"/> <!-- Justice -->
	<buyback_card id="15116" endtime="1724950800"/> <!-- Resolute Justice -->
	<buyback_card id="25116" endtime="1724950800"/> <!-- Indomitable Justice -->

	<buyback_card id="5118" endtime="1724950800"/> <!-- Chalice Courier -->
	<buyback_card id="15118" endtime="1724950800"/> <!-- Chalice Bearer -->
	<buyback_card id="25118" endtime="1724950800"/> <!-- Chalice Evangelist -->

	<buyback_card id="5119" endtime="1724950800"/> <!-- Dyrnwyn's Chosen -->
	<buyback_card id="15119" endtime="1724950800"/> <!-- Dyrnwyn's Promise -->
	<buyback_card id="25119" endtime="1724950800"/> <!-- Dyrnwyn's Burden -->

	<buyback_card id="5136" endtime="1724950800"/> <!-- Lapis -->
	<buyback_card id="15136" endtime="1724950800"/> <!-- Lapis, Wavewaker -->
	<buyback_card id="25136" endtime="1724950800"/> <!-- Lapis, Wavebreaker -->

	<buyback_card id="5184" endtime="1724950800"/> <!-- Icy Grimkite -->
	<buyback_card id="15184" endtime="1724950800"/> <!-- Glacial Grimkite -->
	<buyback_card id="25184" endtime="1724950800"/> <!-- Frosted Grimkite -->

	<buyback_card id="5217" endtime="1724950800"/> <!-- Azazrael, Herald -->
	<buyback_card id="15217" endtime="1724950800"/> <!-- Azazrael, Prophet -->
	<buyback_card id="25217" endtime="1724950800"/> <!-- Azazrael, Harbinger -->

	<buyback_card id="5303" endtime="1724950800"/> <!-- Angelical Acolyte -->
	<buyback_card id="15303" endtime="1724950800"/> <!-- Angelical Scholar -->
	<buyback_card id="25303" endtime="1724950800"/> <!-- Angelical Sorceress -->

	<buyback_card id="6073" endtime="1724950800"/> <!-- Obsidian -->
	<buyback_card id="16073" endtime="1724950800"/> <!-- Obsidian Awakened -->
	<buyback_card id="26073" endtime="1724950800"/> <!-- Obsidian, Death's Wing -->

	<buyback_card id="6074" endtime="1724950800"/> <!-- Deific Channeler -->
	<buyback_card id="16074" endtime="1724950800"/> <!-- Divinity Channeler -->
	<buyback_card id="26074" endtime="1724950800"/> <!-- Celestial Channeler -->

	<buyback_card id="6118" endtime="1724950800"/> <!-- Kindlecrack Demon -->
	<buyback_card id="16118" endtime="1724950800"/> <!-- Searsnap Demon -->
	<buyback_card id="26118" endtime="1724950800"/> <!-- Pyropop Demon -->

	<buyback_card id="6120" endtime="1724950800"/> <!-- Oni Blade -->
	<buyback_card id="16120" endtime="1724950800"/> <!-- Oni Samurai -->
	<buyback_card id="26120" endtime="1724950800"/> <!-- Oni Shogun -->

	<buyback_card id="6180" endtime="1724950800"/> <!-- Cloaked Revenapod -->
	<buyback_card id="16180" endtime="1724950800"/> <!-- Veiled Revenapod -->
	<buyback_card id="26180" endtime="1724950800"/> <!-- Shrouded Revenapod -->

	<buyback_card id="6181" endtime="1724950800"/> <!-- Fearlord Xerthis -->
	<buyback_card id="16181" endtime="1724950800"/> <!-- Horrorlord Xerthis -->
	<buyback_card id="26181" endtime="1724950800"/> <!-- Terrorlord Xerthis -->

	<buyback_card id="6262" endtime="1724950800"/> <!-- Red Knight -->
	<buyback_card id="16262" endtime="1724950800"/> <!-- Blood Knight -->
	<buyback_card id="26262" endtime="1724950800"/> <!-- Ruby Knight -->

	<buyback_card id="6263" endtime="1724950800"/> <!-- Erinye of Justice -->
	<buyback_card id="16263" endtime="1724950800"/> <!-- Erinye of Retribution -->
	<buyback_card id="26263" endtime="1724950800"/> <!-- Erinye of Punishment -->

	<buyback_card id="6264" endtime="1724950800"/> <!-- Flame Tongue Frog -->
	<buyback_card id="16264" endtime="1724950800"/> <!-- Flame Tongue Fiend -->
	<buyback_card id="26264" endtime="1724950800"/> <!-- Flame Tongue Devil -->

	<buyback_card id="6270" endtime="1724950800"/> <!-- Malbrand Tattoo -->
	<buyback_card id="16270" endtime="1724950800"/> <!-- Malbrand Whisperer -->
	<buyback_card id="26270" endtime="1724950800"/> <!-- Malbrand Ruiner -->

	<buyback_card id="7038" endtime="1724950800"/> <!-- Sol King -->
	<buyback_card id="17038" endtime="1724950800"/> <!-- Ray King -->
	<buyback_card id="27038" endtime="1724950800"/> <!-- Sun King -->

	<buyback_card id="7069" endtime="1724950800"/> <!-- Stoneblade Seraphim -->
	<buyback_card id="17069" endtime="1724950800"/> <!-- Stoneblade Defender -->
	<buyback_card id="27069" endtime="1724950800"/> <!-- Stoneblade Archangel -->

	<buyback_card id="7071" endtime="1724950800"/> <!-- Gorilleus -->
	<buyback_card id="17071" endtime="1724950800"/> <!-- King Gorilleus -->
	<buyback_card id="27071" endtime="1724950800"/> <!-- Emperor Gorilleus -->

	<buyback_card id="7073" endtime="1724950800"/> <!-- Heralded Slugger -->
	<buyback_card id="17073" endtime="1724950800"/> <!-- Heralded Slicer -->
	<buyback_card id="27073" endtime="1724950800"/> <!-- Heralded Ripper -->

	<buyback_card id="7116" endtime="1724950800"/> <!-- Watchful Hexhound -->
	<buyback_card id="17116" endtime="1724950800"/> <!-- Wary Hexhound -->
	<buyback_card id="27116" endtime="1724950800"/> <!-- Hostile Hexhound -->

	<buyback_card id="7179" endtime="1724950800"/> <!-- Battlefield Berserker -->
	<buyback_card id="17179" endtime="1724950800"/> <!-- Battlefield Cleaver -->
	<buyback_card id="27179" endtime="1724950800"/> <!-- Battlefield Templar -->

	<buyback_card id="7183" endtime="1724950800"/> <!-- Monastery Angel -->
	<buyback_card id="17183" endtime="1724950800"/> <!-- Monastery Keeper -->
	<buyback_card id="27183" endtime="1724950800"/> <!-- Monastery Monk -->

	<buyback_card id="7223" endtime="1724950800"/> <!-- Vombomber Recruit -->
	<buyback_card id="17223" endtime="1724950800"/> <!-- Vombomber Cadet -->
	<buyback_card id="27223" endtime="1724950800"/> <!-- Vombomber -->

	<buyback_card id="7224" endtime="1724950800"/> <!-- Floral Sprite -->
	<buyback_card id="17224" endtime="1724950800"/> <!-- Hallowed Sprite -->
	<buyback_card id="27224" endtime="1724950800"/> <!-- Wispfight Sprite -->

	<buyback_card id="7254" endtime="1724950800"/> <!-- Halo Frenzier -->
	<buyback_card id="17254" endtime="1724950800"/> <!-- Halo Binder -->
	<buyback_card id="27254" endtime="1724950800"/> <!-- Halo Betrayer -->

	<buyback_card id="7265" endtime="1724950800"/> <!-- Halo-Weaver Huntress -->
	<buyback_card id="17265" endtime="1724950800"/> <!-- Halo-Weaver Eremite -->
	<buyback_card id="27265" endtime="1724950800"/> <!-- Halo-Weaver Recluse -->

		<realtime_pvp_leaderboard_tier>13</realtime_pvp_leaderboard_tier><!-- 13 -->
		<realtime_pvp_leaderboard_count>100</realtime_pvp_leaderboard_count><!-- 100 -->
		<realtime_pvp_leaderboard_minimum>1950</realtime_pvp_leaderboard_minimum>

		<realtime_pvp_timeout>30</realtime_pvp_timeout>
		<realtime_pvp_request_timeout>300</realtime_pvp_request_timeout>
		<realtime_pvp_poll_time>3</realtime_pvp_poll_time>
		<daily_login_bonus_start_day>17004</daily_login_bonus_start_day>
		<buyback_cap>60</buyback_cap><!-- Maximum num cards in buyback -->

		<force_sound_binary>0</force_sound_binary>
	</config>

	<cardFile id="0" file="cards_config.xml"/>
	<cardFile id="1" file="cards_heroes.xml"/>
	<cardFile id="2" file="cards_premium_aether.xml"/>
	<cardFile id="3" file="cards_premium_chaos.xml"/>
	<cardFile id="4" file="cards_premium_wyld.xml"/>
	<cardFile id="5" file="cards_reward.xml"/>
	<cardFile id="6" file="cards_special.xml"/>
	<cardFile id="7" file="cards_standard.xml"/>
	<cardFile id="8" file="cards_story.xml"/>
	<!-- ID 9 used for cards_dev -->
	<cardFile id="10" file="cards_shard.xml"/>
</root>