<?xml version="1.0" encoding="UTF-8"?>
<root>
	<config>
		<review_max_count>2</review_max_count>
		<review_trigger_threshold>3</review_trigger_threshold>
		<review_min_level>4</review_min_level>
		<review_feedback_link>http://support.synapsegames.com/?game=spellstone&amp;type=feedback</review_feedback_link>
		<review_popup>1</review_popup>
		<standalone_review_popup>0</standalone_review_popup>
		<asset_bundle_cache_delay>1209600</asset_bundle_cache_delay><!-- 1209600 = 2 weeks -->
		<max_guild_members>50</max_guild_members>
		<max_auto_battles>100</max_auto_battles>
		<iap_end_time>0</iap_end_time>
		<optimized_achievements>0</optimized_achievements>


		<arena_autoplay_enabled>1</arena_autoplay_enabled><!-- 1 -->
		<!-- Challenges / Clashes / Dungeons -->
		<auto_battles_enabled>1</auto_battles_enabled><!-- 0 -->

		<dev_event_time_offset>14400</dev_event_time_offset>

		<!-- 1440  = +1  Days --><!-- 15840 = +11 Days --><!-- 30240 = +21 Days --><!-- 44640 = +31 Days --><!-- 59040 = +41 Days -->
		<!-- 2880  = +2  Days --><!-- 17280 = +12 Days --><!-- 31680 = +22 Days --><!-- 46080 = +32 Days --><!-- 60480 = +42 Days -->
		<!-- 4320  = +3  Days --><!-- 18720 = +13 Days --><!-- 33120 = +23 Days --><!-- 47520 = +33 Days --><!-- 61920 = +43 Days -->
		<!-- 5760  = +4  Days --><!-- 20160 = +14 Days --><!-- 34560 = +24 Days --><!-- 48960 = +34 Days --><!-- 63360 = +44 Days -->
		<!-- 7158  = +5  Days --><!-- 21600 = +15 Days --><!-- 36000 = +25 Days --><!-- 50400 = +35 Days --><!-- 64800 = +45 Days -->
		<!-- 8640  = +6  Days --><!-- 23040 = +16 Days --><!-- 37440 = +26 Days --><!-- 51840 = +36 Days --><!-- 66240 = +46 Days -->
		<!-- 10080 = +7  Days --><!-- 24480 = +17 Days --><!-- 38880 = +27 Days --><!-- 53280 = +37 Days --><!-- 67680 = +47 Days -->
		<!-- 11520 = +8  Days --><!-- 25920 = +18 Days --><!-- 40320 = +28 Days --><!-- 54720 = +38 Days --><!-- 69120 = +48 Days -->
		<!-- 12960 = +9  Days --><!-- 27360 = +19 Days --><!-- 41760 = +29 Days --><!-- 56160 = +39 Days --><!-- 70560 = +49 Days -->
		<!-- 14400 = +10 Days --><!-- 28800 = +20 Days --><!-- 43200 = +30 Days --><!-- 57600 = +40 Days --><!-- 71580 = +50 Days -->

		<!-- Debug 1 -->

		<!-- Loading Screen Overwrite
		<loading_prefab>EventMap_004</loading_prefab>
		<loading_bundle_id>29</loading_bundle_id> -->

		<!-- <refund_card> Allows card to show up in buyback tool in admin panel -->
		<!-- <buyback_card id="1234" endtime="unixtimestamp" /> -->
		
		<!-- +14 days from end time of Steel's Edge V2.0 event_timeline_n3rjc.xml -->
		<!-- Exclude Champions, commons and rare from buyback discount -->
		<!-- +14 from start of bge e106 Thu Aug 31 2023 17:00:00 GMT+0000 -->

	<buyback_card id="5177" endtime="1741885200"/> <!-- Thunderbird -->
	<buyback_card id="15177" endtime="1741885200"/> <!-- Arc Thunderbird -->
	<buyback_card id="25177" endtime="1741885200"/> <!-- Regal Thunderbird -->

	<buyback_card id="5285" endtime="1741885200"/> <!-- Flying Peng -->
	<buyback_card id="15285" endtime="1741885200"/> <!-- Emerging Peng -->
	<buyback_card id="25285" endtime="1741885200"/> <!-- Rising Peng -->

	<buyback_card id="6053" endtime="1741885200"/> <!-- Squire Gorger -->
	<buyback_card id="16053" endtime="1741885200"/> <!-- Guard Gorger -->
	<buyback_card id="26053" endtime="1741885200"/> <!-- Knight Gorger -->

	<buyback_card id="7058" endtime="1741885200"/> <!-- Steppe Stalker -->
	<buyback_card id="17058" endtime="1741885200"/> <!-- Steppe Hunter -->
	<buyback_card id="27058" endtime="1741885200"/> <!-- Steppe Predator -->

		<realtime_pvp_leaderboard_tier>13</realtime_pvp_leaderboard_tier><!-- 13 -->
		<realtime_pvp_leaderboard_count>100</realtime_pvp_leaderboard_count><!-- 100 -->
		<realtime_pvp_leaderboard_minimum>1950</realtime_pvp_leaderboard_minimum>

		<realtime_pvp_timeout>30</realtime_pvp_timeout>
		<realtime_pvp_request_timeout>300</realtime_pvp_request_timeout>
		<realtime_pvp_poll_time>3</realtime_pvp_poll_time>
		<daily_login_bonus_start_day>17004</daily_login_bonus_start_day>
		<buyback_cap>60</buyback_cap><!-- Maximum num cards in buyback -->

		<force_sound_binary>0</force_sound_binary>
	</config>

	<cardFile id="0" file="cards_config.xml"/>
	<cardFile id="1" file="cards_heroes.xml"/>
	<cardFile id="2" file="cards_premium_aether.xml"/>
	<cardFile id="3" file="cards_premium_chaos.xml"/>
	<cardFile id="4" file="cards_premium_wyld.xml"/>
	<cardFile id="5" file="cards_reward.xml"/>
	<cardFile id="6" file="cards_special.xml"/>
	<cardFile id="7" file="cards_standard.xml"/>
	<cardFile id="8" file="cards_story.xml"/>
	<!-- ID 9 used for cards_dev -->
	<cardFile id="10" file="cards_shard.xml"/>
</root>